spring:
  application:
    name: cash-balancer-api

  # PostgreSQL R2DBC Configuration
  r2dbc:
    url: r2dbc:${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    pool:
      initial-size: 5
      max-size: 10
      max-idle-time: 30m

  # Flyway Configuration
  flyway:
    enabled: true
    url: jdbc:${DB_URL}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    baseline-on-migrate: true
    locations: classpath:db/migrations

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

# Server Configuration
server:
  port: 8080
  error:
    include-binding-errors: always
    include-exception: true
    include-message: always
    include-stacktrace: always

# Logging
logging:
  level:
    com:
      osaka:
        cashbalancerapi: DEBUG
    org:
      springframework:
        r2dbc: DEBUG
        data:
          r2dbc: DEBUG
    io:
      r2dbc:
        postgresql: DEBUG

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
        add-additional-paths: true
